<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Autenticação</title>
</head>
<body>
    <hgroup>
        <h1>Não autorizado</h1>
        <h2>Você não tem permissão para visualizar este diretório ou página usando as credenciais que você forneceu.</h2>@Html.ActionLink("Click aqui para fazer o Login", "Index", "Login")
    </hgroup>
</body>
</html>
